# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/

# Model files
*.pth
*.pt
*.onnx
*.dylib
*.so

# Misc
*.bak
*.swp.env
