[nix]
channel = "stable-24_05"
pkgs = [
  "python311",
  "libstdcxx5",              # FAISS native lib
  "faiss",
  "python311Packages.numpy",
  "glibcLocales",
  "libyaml",
  "awscli2",
]

[env]
FLASK_DEBUG = "0"

[tool]
entrypoint = "python core/rag_embeder.py"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start VerityOS Student"

[[workflows.workflow]]
name = "Start VerityOS Student"
author = 36910130
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PYTHONPATH=./ python web/app.py"
